		ul,li{
			list-style: none;	
			margin: 0;
			padding: 0;		
		}
		.sd{
			width: 260px;
			margin: 50px auto 0;
		}
		.sdspan{
			float: left;
			display: inline-block;
			margin: 0;
			border: 1px dotted green;
			height: 26px;
			width: 26px;
			line-height: 26px;
			text-align: center;
		}
		.sdli{
			width: 100%;
			height: 26px;
			float: left;
		}

		.bl{
			border-left-color: green;
			border-left-style: solid;
		}
		.bt{
			border-top-color: green;
			border-top-style: solid;
		}
		.br{
			border-right-color: green;
			border-right-width: 2px;
			border-right-style: solid;
		}
		.bb{
			border-bottom-color: green;
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}
		.blankCell{
			color:blue;
			font-weight: 600;
		}
		.bg_red{
			background: red;
		}
		.clearfix:after{
			content: '';
			display: table;
			clear: both;
		}
		.btn-group{
			margin-top:20px;
			text-align:center;
		}
