* {
	box-sizing: border-box;
}
.g2048{
	border: 4px solid #b8af9e;
	width: 300px;
	height: 300px;
	margin: 30px;
	position: relative;
}
.cell{
	float: left;
	height: 25%;
	width: 25%;
	box-sizing:border-box;
	border: 4px solid #b8af9e;
}
.number_cell{
	position: absolute;
	box-sizing:border-box;
	width: 25%;
	height: 25%;
	padding: 4px;
	left: 0;
	top: 0;
	transition: all 0.2s;
	color: #fff;
	font-size: 20px;
}
.number_cell_con{
	background: red;
	width: 100%;
	height: 100%;
	line-height:100%;
}
/*位置*/
.p00{left:0;top:0;} .p01{left:0; top:25%; } .p02{left:0; top:50%; } .p03{left:0; top:75%; }
.p10{left:25%; top:0; } .p11{left:25%; top:25%; } .p12{left:25%; top:50%; } .p13{left:25%; top:75%; }
.p20{left:50%; top:0; } .p21{left:50%; top:25%; } .p22{left:50%; top:50%; } .p23{left:50%; top:75%; }
.p30{left:75%; top:0; } .p31{left:75%; top:25%; } .p32{left:75%; top:50%; } .p33{left:75%; top:75%; }

/*颜色*/
.n2{

}
.n4{

}
.n8{

}
.n16{

}
.n32{

}
.n64{

}
.n128{

}
.n256{

}
.n512{

}
.n1024{

}
.n2048{

}